<div class="row">
  <div class="twelve columns aboutbck">
    <h2 class="about this">About</h2>
    <p class="this about"><span class="high">Las Tablas </span>is committed to <span class="high">
      promote cultural and community affairs </span> through workshops, forums, the publishing 
    of audio, visual and written work, and above all, <span class="high">the presentation of 
      theater works.</span><a href="#" class="small button beige this" data-reveal-id="home-more-info"> More Info</a></p>
  </div>
</div>

<h2 class="this"></br>Feature Events </h2>
<div class="row white">
  <div class="four columns">
    <div class="panel">
      <img src="images/event.gif" alt="image of 288 x 175" />
      <hr>			
      <!--<a href="#" class="small button"> More Info</a>-->
    </div>
  </div>
  <div class="four columns">
    <div class="panel">
      <img src="images/vday.gif" alt="image of 288 x 175"/>
      <hr>
    </div>
  </div>
  <div class="four columns">
    <div class="panel">
      <img src="images/vday.gif" alt="image of 288 x 175"/>
      <hr>
    </div>
  </div>
</div>

<div id="home-more-info" class="reveal-modal">
  <h2>Las Tablas</h2>
  <a class="close-reveal-modal">&#215;</a>
  <p>Tablas is a term used in Spanish to refer to a stage or to indicate experience performing and speaking in public. Las Tablas is committed to promoting cultural and community affairs through workshops, forums, the publishing of audio, visual and written work, and above all, the presentation of theater works and above all, the presentation of theater works. Our works will lead us to explore new ideas and generate dialogue concerning the realities faced by our individual clients and communities. We serve the individual artist, artist groups, individual residents, and groups of residents in the Washington Heights/Inwood area as well as other interested communities. We provide a space to reflect, create, collaborate, and to develop solutions to personal and community matters. We support theater work that explores culture, identity and integration. We encourage personal exploration, community involvement, and social activism.</p>
  
  <p>
  <strong>Teatro Las Tablas, Inc.</strong>
  11 Broadway Terrace 
  New York, NY 10040
  Las_tablas@nyc.com
  </p>

  <p>
  <strong>Yolanny Rodríguez</strong>
  Director
  yolannyRodriguez@gmail.com
  </p>

  <p>
  <strong>Zulaika Velazquez, MFA</strong>
  Artistic and Development Director
  zulaika.velazquez@yahoo.com
  </p>

  <p>
  <strong>Send your pictures for casting purpose, and or your resume for volunteer, internship, and other opportunities to:</strong>
  Yolie Torres
  Talent Manager
  yoliTorres.TLT@gmail.comjjk
  </p>
</div>
