<div class="row">
  <div class="twelve columns aboutbck">
    <h2 class="about this">About</h2>
    <p class="this about"><span class="high">Las Tablas </span>is committed to <span class="high">
      promote cultural and community affairs </span> through workshops, forums, the publishing 
    of audio, visual and written work, and above all, <span class="high">the presentation of 
      theater works.</span><a href="#" class="small button beige this"> More Info</a></p>
  </div>
</div>

<h2 class="this"></br>Feature Events </h2>
<div class="row white">
  <div class="four columns">
    <div class="panel">
      <img src="images/event.gif" alt="image of 288 x 175" />
      <hr>			
      <!--<a href="#" class="small button"> More Info</a>-->
    </div>
  </div>
  <div class="four columns">
    <div class="panel">
      <img src="images/vday.gif" alt="image of 288 x 175"/>
      <hr>
    </div>
  </div>
  <div class="four columns">
    <div class="panel">
      <img src="images/vday.gif" alt="image of 288 x 175"/>
      <hr>
    </div>
  </div>
</div>
