<div class="row">
  <div class="twelve columns aboutbck">
    <h2 class="about this">Projects</h2>
    <p class="this about">
    <a href="#" class="small button beige this">More Info</a>
    </p>
  </div>
</div>
