<div id="featured">
  <% @slider_images.each do |file| %>
    
    <img src="images/slider/<%= file %>" alt="<% file %>" />
  <% end %>
  <!-- <p class="this">El Conde de Montecristo: Lectura dram&aacute;tica de la adaptaci&oacute;n teatral en espa&ntilde;ol del Cl&aacute;sico franc&eacute;s</p> -->
</div>

