<div class="row">
  <div class="twelve columns aboutbck">
    <h2 class="about this">Support</h2>
    <p class="this about">
    Thanks to the people who believe in our work we have been able to continue creating and producing, updating our website and creating merchandise so everyone can have a little piece of Las Tablas.
    <a href="#" class="small button beige this"> More Info</a>
    </p>
  </div>
</div>
