<div class="row">
  <div class="twelve columns aboutbck">
    <h2 class="about this">Support</h2>
    <p class="this about">
    Thanks to the people who believe in our work we have been able <span class="high">to continue creating and producing</span>, updating our website and creating merchandise so everyone can have a <span class="high">little piece</span> of Las Tablas.
    <a href="#" class="small button beige this" data-reveal-id="support-more-info"> More Info</a>
    </p>
  </div>
</div>

<div id="support-more-info" class="reveal-modal modal">
  <h2>Support Us</h2>
  <a class="close-reveal-modal">&#215;</a>

  <p>
  Thanks to the people who believe in our work we have been able to continue creating and producing, updating our website and creating merchandise so everyone can have a little piece of Las Tablas. You may contribute by sending us a monetary gift to: </br> <strong>Teatro Las Tablas, Inc., 11 Broadway Terrace D-3, New York, NY 10040.</strong>
  </p>

  <p>
  For general or project based in-kind donations please write to the address above or e-mail us: <strong>Las_Tablas@nyc.com.</strong> You may also call us at <strong>(347)345-5417</strong></p> <p>We welcome warm, enthusiastic volunteers and interns. If you are interested in promoting Las Tablas work, creating community through the arts, or documenting our processes, please contact us, if you have an idea that would like to discuss, we are here to hear you.
  </p>

  <p>
  Las Tablas is a non profit organization, incorporated in the state of New York. Please contribute now so we can become a tax-exempt organization.
  </p>
</div>

