<div class="row">
  <div class="twelve columns aboutbck">
    <h2 class="about this">Support</h2>
    <p class="this about">
    Thanks to the people who believe in our work we have been able <span class="high">to continue creating and producing</span>, updating our website and creating merchandise so everyone can have a <span class="high">little piece</span> of Las Tablas.
    <a href="#" class="small button beige this"> More Info</a>
    </p>
  </div>
</div>
