/* --- General --- */
body {	background:#fcece4 url('../images/bck1.png');	background-repeat:repeat-y repeat-x;}
/*.header.row {padding:20px;background:#fff; width: 100%; min-width: 727px; margin: 0 auto; } /*enlarge header out of main container*/

/* --- Misc --- */
.this{font-family: "Calibri", "Trebuchet MS";}
.row {background:#fff; padding:2px;}/*default #fff */
.beige.button{background:#561c00;color: #f5e6c4; font-size: 12px; padding:2px 8px 2px 8px;}
hr.this{border:#f2ebdb; color:#f2ebdb;}
h2.this, h3.this 	{font-size: 32px;font-weight:bold;}
.aboutbck {background:#f6efdf;}/* #7a7100; ab3700; f5e6c4*/
.white {background:#fff;}
h2.this, h3.this {color:#7a1700;}
h2.about {color:#561C00;}
.high{color:#590100;}
.sponafri{background:#f5e6c4 url('../images/stripe.png'); background-repeat:repeat-y repeat-x;}

/* --- Images --- */
img { border-color:red; border:2px;}

/* --- paragraphs customization --- */
p.this {font-size: 14px; line-height: 18px; color: #590100;}
p.this.about {font-size: 24px; line-height: 32px; color:#ab3700;}
p.this.panel{color:#590c04;}
/* --- nav bar modifications ----*/

ul.nav-bar.this {background:#fff;border-color:#fff;}
ul.nav-bar a {color:#ab3700;}



/* ---- modified panels --- */

	.panel.fevent{
		background: #590100 url('../images/fevet.png'); background-repeat:repeat-y repeat-x;;
		/*background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));*/
		filter: none;
		box-shadow:none; 
		margin: 20 0 10px 0; }


/* --- modal stylizing --- */
   .modal{ 
   background:#f6efdf;
   font-family: "Calibri", "Trebuchet MS";
   font-size:14px;
   }
   
   .modal h2{font-size: 32px;font-weight:bold;color:#561c00; } 
   .modal strong {color:#561c00; }
